@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hana2bold";
  src: url("./fonts/Hana2-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hana2cm";
  src: url("./fonts/Hana2-CM.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hana2heavy";
  src: url("./fonts/Hana2-Heavy.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hana2light";
  src: url("./fonts/Hana2-Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hana2medium";
  src: url("./fonts/Hana2-Medium.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Hana2regular";
  src: url("./fonts/Hana2-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SCDream1";
  src: url("./fonts/SCDream1.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream2";
  src: url("./fonts/SCDream2.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream3";
  src: url("./fonts/SCDream3.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream4";
  src: url("./fonts/SCDream4.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream5";
  src: url("./fonts/SCDream5.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream6";
  src: url("./fonts/SCDream6.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream7";
  src: url("./fonts/SCDream7.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream8";
  src: url("./fonts/SCDream8.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SCDream9";
  src: url("./fonts/SCDream9.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  :root {
    --hanalightgreen: #ebf9f6;
    --hanagreen: #099a96;
    --hanadeepgreen: #148071;
    --hanalightpurple: #f4ebfb;
    --hanapurple: #4d00b5;
    --hanagray: #b1bbc0;
    --hanadeepgray: #a6a6a6;
    --red: #f74c21;
    --background: #f1f0f2;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background-color: var(--background);
}

html {
  font-size: 12px; /* 기본 값 */
}

@media (min-width: 768px) {
  html {
    font-size: 16px; /* 태블릿 이상 */
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 18px; /* 데스크탑 */
  }
}

body {
  font-family: "SCDream2";
}

a {
  text-decoration: none;
}

.custom-range {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(-90deg, #4d00b5 0%, #f4efff 100%);
  border-radius: 5px;
  height: 8px;
  outline: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #4d00b5;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease;
}

.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #4d00b5;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
